body {
    background-color: #ECEEF1;
}

.infoBar {
    display: flex;
    width: 100%;
    justify-content: flex-end; 
}

.infoBar>div {
    padding: 0 15px;
}

.infoBar div p {
    line-height: 0.5;
}

.inputbutton {
    width: 8%;
}

.inputbutton input {
    height: 90%;
    width: 100%;
    background-color: #0077C5;
    color: white;
    border-radius: 4px;
    border: 1px solid;
    font-size: 16px;
}

main {
    margin-top: 50px;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: center;
}

fieldset{
    width: 30%;
    background-color: white;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    text-align: start;
}

.form-input-button {
    width: 100%;
    
    text-align: center;
}

.form-input-button input {
    width: 80%;
    height: 40px;
    font-size: 18px;
    background-color: #0077C5;
    color: white;
    
}

.form-header {
    text-align: center;
}

.form-content {
    margin: 10px 10px;
    text-align: center;
}

.form-content input {
    width: 70%;
    padding: 15px 25px;
}

.form-content div {
    padding: 10px 55px;
    text-align: left;
}

.form-end {
   text-align: center;
}

.form-footer {
    padding-top: 10px;
    background-color: #ECEEF1;
    height: 100%;
    width: 100%;
}

.anchor-container {
    margin-top: 25px;
    display: block;
    text-align: center;
    
}

.anchor-container a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

.anchor-container :hover {
    text-decoration: underline;
    color: blue;
}

#Descriptions{
    text-align: center;
    color: #505050;
    white-space: pre-wrap
}




